<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Todo List</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <div>
        <div class="navbar-fixed">
            <nav class="nav-extended blue cus-m-b20">
                <div class="nav-wrapper container">
                    <a href="#" class="brand-logo">
                        <span class="cus-p-l20">Todo List</span>
                    </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <a href="#">
                                <i class="material-icons left">mood</i>
                                cracy_father
                            </a>
                        </li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <a href="#">
                                <i class="material-icons left">mood</i>
                                cracy_father
                            </a>
                        </li>
                    </ul>

                    <ul class="tabs tabs-transparent">
                        <li class="tab">
                            <a href="#todolist" class="active">todo list</a>
                        </li>
                        <li class="tab">
                            <a href="#alllist">all list</a>
                        </li>
                        <li class="tab">
                            <a href="#add">add list</a>
                        </li>
                        <li class="tab">
                            <a href="#edit">edit list</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container" style="margin-top: 70px;">
            <div id="todolist">
                <div class="row">
                    <!-- today's todolist -->
                    <div class="col s12 l8 offset-l2 m12 cus-m-b20">
                        <h5 class="cus-f-lightgrey cus-f-w300 cus-m-b20">Today</h5>
                        <div class="card-panel grey lighten-5 z-depth-1 hoverable">
                            <span>
                                <input type="checkbox" id="test233" />
                                <label for="test233" style="color: #424242; text-decoration: line-through;">
                                    There are several ways to customize waves
                                </label>
                            </span>
                            <span class="right">
                                <i class="material-icons light-blue-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px; margin-right: 5px;">search</i>                                        
                                <i class="material-icons red-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px;">delete</i>
                            </span>
                        </div>
                        <div class="card-panel grey lighten-5 z-depth-1 hoverable">
                            <span>
                                <input type="checkbox" id="test234" />
                                <label for="test234" style="color: #424242;">
                                    you can either use pre-created classes
                                </label>
                            </span>
                            <span class="right">
                                <i class="material-icons light-blue-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px; margin-right: 5px;">search</i>                                        
                                <i class="material-icons red-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px;">delete</i>
                            </span>
                        </div>
                        <div class="card-panel grey lighten-5 z-depth-1 hoverable">
                            <span>
                                <input type="checkbox" id="test235" />
                                <label for="test235" style="color: #424242;">
                                    or you can define your own color by creating a new class
                                </label>
                            </span>
                            <span class="right">
                                <i class="material-icons light-blue-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px; margin-right: 5px;">search</i>                                        
                                <i class="material-icons red-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px;">delete</i>
                            </span>
                        </div>
                    </div>

                    <!-- Not finished -->
                    <div class="col s12 l8 offset-l2 m12 cus-m-b20">
                        <h5 class="cus-f-lightgrey cus-f-w300 cus-m-b20">Not Finished</h5>
                        <div class="card-panel grey lighten-5 z-depth-1 hoverable">
                            <span>
                                <input type="checkbox" id="test236" />
                                <label for="test236" style="color: #424242; text-decoration: line-through;">
                                    There are several ways to customize waves
                                </label>
                            </span>
                            <span class="right">
                                <i class="material-icons light-blue-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px; margin-right: 5px;">search</i>                                        
                                <i class="material-icons red-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px;">delete</i>
                            </span>
                        </div>
                        <div class="card-panel grey lighten-5 z-depth-1 hoverable">
                            <span>
                                <input type="checkbox" id="test237" />
                                <label for="test237" style="color: #424242;">
                                    you can either use pre-created classes
                                </label>
                            </span>
                            <span class="right">
                                <i class="material-icons light-blue-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px; margin-right: 5px;">search</i>                                        
                                <i class="material-icons red-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px;">delete</i>
                            </span>
                        </div>
                    </div>

                    <!-- Add new target -->
                    <div class="col s12 l8 m12 offset-l2 cus-m-b20 cus-m-t20">
                        <a class="modal-trigger btn waves-effect waves-light light-blue" href="#add_modal">
                            <i class="material-icons right">add</i>
                            Add
                        </a>
                    </div>
                </div>
            </div>

            <div id="alllist">
                <div class="row">
                    <div class="col s12 l8 offset-l2 m12 cus-m-b20">
                        <h5 class="cus-f-lightgrey cus-f-w300 cus-m-b20">Yestoday</h5>
                        <div class="card-panel grey lighten-5 z-depth-1 hoverable">
                            <span>
                                <input type="checkbox" id="test1" />
                                <label for="test1" style="color: #424242; text-decoration: line-through;">
                                    There are several ways to customize waves
                                </label>
                            </span>
                            <span class="right">
                                <i class="material-icons light-blue-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px; margin-right: 5px;">search</i>                                        
                                <i class="material-icons red-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px;">delete</i>
                            </span>
                        </div>
                        <div class="card-panel grey lighten-5 z-depth-1 hoverable">
                            <span>
                                <input type="checkbox" id="test2" />
                                <label for="test2" style="color: #424242;">
                                    you can either use pre-created classes
                                </label>
                            </span>
                            <span class="right">
                                <i class="material-icons light-blue-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px; margin-right: 5px;">search</i>                                        
                                <i class="material-icons red-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px;">delete</i>
                            </span>
                        </div>
                        <div class="card-panel grey lighten-5 z-depth-1 hoverable">
                            <span>
                                <input type="checkbox" id="test3" />
                                <label for="test3" style="color: #424242;">
                                    or you can define your own color by creating a new class
                                </label>
                            </span>
                            <span class="right">
                                <i class="material-icons light-blue-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px; margin-right: 5px;">search</i>                                        
                                <i class="material-icons red-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px;">delete</i>
                            </span>
                        </div>
                        <div class="card-panel grey lighten-5 z-depth-1 hoverable">
                            <span>
                                <input type="checkbox" id="test0" />
                                <label for="test0" style="color: #424242;">
                                    or you can define your own color by creating a new class
                                </label>
                            </span>
                            <span class="right">
                                <i class="material-icons light-blue-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px; margin-right: 5px;">search</i>                                        
                                <i class="material-icons red-text text-lighten-3 circle grey lighten-3 waves-effect" style="padding: 3px;">delete</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="add">
                <div class="row">
                    <div class="col s12 l8 m12 offset-l2 cus-m-b20">
                        <h5 class="cus-f-lightgrey cus-f-w300 cus-m-b20">Add Target</h5>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <!--<i class="material-icons prefix">mode_edit</i>-->
                                        <textarea id="newtarget" class="materialize-textarea"></textarea>
                                        <label for="newtarget">What you want to do ?</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6">
                                        <div class="switch">
                                            <label>
                                            Time limit
                                            <input type="checkbox">
                                            <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input type="date" class="datepicker" disabled="disabled" id="date">
                                        <label for="date">Date</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal space -->
    <div id="add_modal" class="modal">
        <div class="modal-content">
            <h4>New Target</h4>
            <div class="row" style="margin-top: 30px; ">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="newtarget" class="materialize-textarea"></textarea>
                            <label for="newtarget">What you want to do ?</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.modal').modal({
                starting_top: '20%', // Starting top style attribute
                ending_top: '20%', // Ending top style attribute
            });

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });
        });
    </script>
</body>

</html>