<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <div id="main-content" class="valign-wrapper row">
        <div class="col s4 offset-s4">
            <div class="z-depth-3">
                <nav class="blue nav-extended cus-m-b20">
                    <div class="nav-wrapper">
                        <a href="" class="brand-logo">
                            <span class="cus-p-l20 cus-f-w300">Todo List</span>
                        </a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="#" class="cus-f-w300"><i class="material-icons">format_list_bulleted</i></a></li>
                        </ul>
                        <ul class="side-nav" id="mobile-demo">
                            <li><a href="#" class="cus-f-w300"><i class="material-icons">format_list_bulleted</i></a></li>
                        </ul>

                        <ul class="tabs tabs-transparent">
                            <li class="tab">
                                <a href="#login" class="active">Login</a>
                            </li>
                            <li class="tab">
                                <a href="#signup">Signup</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div id="login">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="username" type="text" class="validate">
                                    <label for="username">Username</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">fingerprint</i>
                                    <input id="password" type="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12" style="padding-left: 20px;">
                                    <input type="checkbox" id="iscookie">
                                    <label for="iscookie">Remember me</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <a class="btn blue waves-effect waves-light right">
                                        Login
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="signup">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="username" type="text" class="validate">
                                    <label for="username">Username</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">fingerprint</i>
                                    <input id="password" type="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 input-field">
                                    <i class="material-icons prefix">fingerprint</i>
                                    <input type="password" id="repassword" class="validate">
                                    <label for="password">Repassword</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <a href="" class="btn blue waves-effect waves-light right">
                                        Signup
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#main-content").css("margin-top", "100px");
        });
    </script>
</body>

</html>