.cus-f-w100 { font-weight: 100; }
.cus-f-w200 { font-weight: 200; }
.cus-f-w300 { font-weight: 300; }

.cus-p-l20 { padding-left: 20px; }

.cus-p-t20 { padding-top: 20px; }

.cus-m-t20 { margin-top: 20px; }

.cus-m-b20 { margin-bottom: 20px; }